<div class="container">
  <div class="new">
<h1>New Resource</h1>

<%= render 'form' %>
<div class="back">
<%= link_to resources_path do %>
<i class="fa fa-backward fa-2x"> Back</i>
<% end %>
</div>
</div>
</div>
